GEMINI_API_KEY=

SUPABASE_URL=
SUPABASE_KEY=

QDRANT_URL=
QDRANT_API_KEY=

WATSONX_API_KEY=
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_PROJECT_ID=
WATSONX_CHAT_MODEL_ID=ibm/granite-4-h-small
WATSONX_EMBEDDING_MODEL_ID=intfloat/multilingual-e5-large

FIREBASE_CREDENTIALS_PATH=serviceAccountKey.json
